GROQ_API_KEY =
LLM_MODEL=
OPEN_WEATHER_BASE_URL=
OPEN_WEATHER_API_KEY=
AVIATIONSTACK_BASE_URL=
AVIATIONSTACK_API_KEY=
DEFAULT_ORIGIN_IATA=
TAVILY_API_KEY =
DATABASE_URL =
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=