langgraph
langchain
langchain-groq
langchain-community
langchain-tavily

psycopg[binary]
psycopg_pool
langgraph-checkpoint-postgres

python-dotenv
requests
certifi

tavily-python

airportsdata
pycountry

fastapi
uvicorn
jinja2

langchain-mcp-adapters
mcp
nest_asyncio